/* Réinitialisation de certains styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #6D7275;
    display: flex;
    flex-direction: column;
    background-image: url("./images/bg-wall.jpg");
    font-family: 'Gill Sans', sans-serif;

}



.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
}

.popup .close {
    /*     position: absolute; */
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}





ul {
    margin: auto;

}

.logoSonia {
    height: 18em;
}


nav ul {
    width: 900px;
    justify-content: space-between;
    color: antiquewhite;

}

.nav-link {
    color: #1f1f1f;
    font-weight: bolder;
}

/* Header */
header {
    /*     background-color: #FD618D; */
    color: white;
}

.fotoSonia {
    border: 12px solid #dc354578;
}

.AnimatedFoto {
    animation: fadeIn 0.5s ease-in-out;
}

.Animated {
    animation: fadeIn 1.7s ease-out;
}

.titleAnimated {
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out;
}

.subtitleAnimated {
    font-size: 1.5rem;
    margin-top: 10px;
    animation: fadeIn 2s ease-in-out 1s;
}

/* .title {
    font-size: 2.7rem;

} */

.subtitle {
    /*    font-size: 1.5rem; */
    margin-top: 10px;

}

i {
    color: whitesmoke;
}

i:hover {
    color: black;
}

/* ARROW DOWN */
li {
    list-style-type: none;
}

/* Base équivalente en rem */
:root {
    --base: 0.6rem;
}

.containerArrow {
    background-color: #891801;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin-top: 3rem;
    margin: auto;
    border: 2px solid blue;
}

.chevron {
    position: absolute;
    width: calc(0.6rem * 3.5);
    height: calc(0.6rem * 0.8);
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 25%;
    width: 50%;
    background: #891801;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

li .chevron {
    list-style: none;
}


/* Section des projets */


.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}


.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

section a {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.card {
    background: rgba(255, 255, 255, 0.487);
}

.card-title {
    font-size: 3em;
}

/* Footer */
footer {
    background-color: #FD618D;
    color: #1f1f1f;
    font-size: 1rem;
}

footer a {

    color: #1f1f1f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@keyframes move-chevron {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        transform: translateY(calc(0.6rem * 3.8));
    }

    66.6% {
        opacity: 1;
        transform: translateY(calc(0.6rem * 5.2));
    }

    100% {
        opacity: 0;
        transform: translateY(calc(0.6rem * 8)) scale(0.5);
    }
}

/* Animation fadeIn */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* modifications for prefers-reduced-motion */
@media (prefers-reduced-motion: no-preference) {
    header {
        -webkit-animation: intro 2s forwards;
        animation: intro 2s forwards;
    }

    header .container h1 {
        -webkit-transform: translate(100vw, 0);
        transform: translate(100vw, 0);
    }

    header .container h1 {
        -webkit-animation: 1s header-intro 1.2s forwards ease-in, glow 5s alternate infinite;
        animation: 1s header-intro 1.2s forwards ease-in, glow 5s alternate infinite;
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }

    header .container *:not(h1) {
        -webkit-transform: translate(0, 100vh);
        transform: translate(0, 100vh);
        -webkit-animation: other-intro 1s forwards ease-in;
        animation: other-intro 1s forwards ease-in;
    }

    header .container h2 {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }

    header .container p {
        -webkit-animation-delay: 1.8s;
        animation-delay: 1.8s;
    }

    header .container a {
        -webkit-animation-delay: 2.1s;
        animation-delay: 2.1s;
    }

    @-webkit-keyframes intro {
        0% {
            -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
            clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        }

        20% {
            -webkit-clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
            clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
        }

        40% {
            -webkit-clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
            clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
            -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
        }

        50% {
            -webkit-clip-path: polygon(47% 47%, 53% 47%, 53% 53%, 47% 53%);
            clip-path: polygon(47% 47%, 53% 47%, 53% 53%, 47% 53%);
        }

        70% {
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
        }

        100% {
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
        }
    }

    @keyframes intro {
        0% {
            -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
            clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
        }

        20% {
            -webkit-clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
            clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
        }

        40% {
            -webkit-clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
            clip-path: polygon(45% 45%, 55% 45%, 55% 55%, 45% 55%);
            -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
        }

        50% {
            -webkit-clip-path: polygon(47% 47%, 53% 47%, 53% 53%, 47% 53%);
            clip-path: polygon(47% 47%, 53% 47%, 53% 53%, 47% 53%);
        }

        70% {
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
        }

        100% {
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
        }
    }

    @-webkit-keyframes header-intro {
        0% {
            -webkit-transform: translate(100vw, 0);
            transform: translate(100vw, 0);
        }

        60% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        62% {
            -webkit-transform: translate(0, 0) rotate(-8deg);
            transform: translate(0, 0) rotate(-8deg);
        }

        74% {
            -webkit-transform: translate(0, -10%) rotate(-8deg);
            transform: translate(0, -10%) rotate(-8deg);
        }

        74% {
            -webkit-transform: translate(0, -10%) rotate(-8deg);
            transform: translate(0, -10%) rotate(-8deg);
        }

        100% {
            -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
        }
    }

    @keyframes header-intro {
        0% {
            -webkit-transform: translate(100vw, 0);
            transform: translate(100vw, 0);
        }

        60% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        62% {
            -webkit-transform: translate(0, 0) rotate(-8deg);
            transform: translate(0, 0) rotate(-8deg);
        }

        74% {
            -webkit-transform: translate(0, -10%) rotate(-8deg);
            transform: translate(0, -10%) rotate(-8deg);
        }

        74% {
            -webkit-transform: translate(0, -10%) rotate(-8deg);
            transform: translate(0, -10%) rotate(-8deg);
        }

        100% {
            -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
        }
    }

    @-webkit-keyframes other-intro {
        0% {
            -webkit-transform: translate(0, 100vh);
            transform: translate(0, 100vh);
        }

        90% {
            -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
        }

        96% {
            -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
        }

        100% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    @keyframes other-intro {
        0% {
            -webkit-transform: translate(0, 100vh);
            transform: translate(0, 100vh);
        }

        90% {
            -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
        }

        96% {
            -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
        }

        100% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
}